<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog| 404</title>
        <link rel="stylesheet" href="/style.css">
    </head>
<body>
    
    <%- include('./partial/nav.ejs')  %>


    <div class="not-fount content">
        No Page Found
    </div>

    <%- include('./partial/footer.ejs') %>

</body>
</html>