<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs')%>
<body>
    
    <%- include('./partial/nav.ejs')  %>


    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum a architecto eligendi tenetur autem neque quas! Optio illo laudantium ratione impedit aspernatur rem molestiae nam exercitationem, deleniti doloremque ex voluptatum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore alias ut inventore quas deserunt voluptatum veniam totam sequi dignissimos neque sit ipsum laborum, blanditiis suscipit temporibus fugit, praesentium labore cupiditate.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit labore tempora ducimus aliquid. Tenetur totam consequuntur odio nesciunt eius quod ratione ipsum. Tempore dolor aut temporibus aspernatur et hic sit?</p>
    </div>

    <%- include('./partial/footer.ejs') %>

</body>
</html>