<nav>
    <div class="site-title">
        <a href="/"><h1>Serenity</h1></a>
        <p>Nurturing Thoughtful Narratives for the Inquisitive Mind</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Add Blog</a></li>
    </ul>
</nav>
